nav {
  display: flex;
  grid-template: inherit;
  justify-content: space-between;
  align-items: baseline;
  height: 64px;
  flex-direction: row;
  flex-wrap: nowrap;
}

.logo-container {
  width: 212px;
  height: 39px;
}
.logo-link {
  font-family: Inter;
  font-weight: 700;
  font-size: 32px;
  color: #000000;
  text-decoration: none;
}

.navLink-container {
  position: relative;
  margin-left: -175px;
}

.navLinks {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navLink {
  cursor: pointer;
}

.navLink-text {
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}
.searchCart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.img-box {
  width: 32px;
  height: 32px;
}

.img-box > img {
  width: 21.75px;
  height: 19.5px;
  object-fit: contain;
  cursor: pointer;
}
